*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(196, 255, 235);
    text-align: center;
    line-height: 2.1;
}

.hero img{
    border-radius: 50%;
}

.accent{
    color:rgb(2, 80, 54)
}

@media (max-width: 768px){
    body{background-color:orange}
}

.grid{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap:wrap;
}

.grid div{
    background-color: rgb(88, 255, 199);
    border-radius: 1000px;
    padding: 5px; 
    min-width: 80px;
}